footer {
    justify-content: space-between; /* Posiziona le icone ai due lati e il testo al centro */
    align-items: center; /* Allinea verticalmente il contenuto */
    padding: 20px;
    background-color: #d5e9fc; /* Colore di sfondo chiaro */
    border-radius: 5px;
    border: ridge navy;
    display: flex; 
    color: navy;
}