<header class="app-header">
  <div class="tile-container">{{ title }}</div>

  <!-- Pulsante "Login" posizionato in alto a destra -->
  <div class="login-button-container">
    <button class="btn btn-secondary login-btn" (click)="toggleLogin()">Login</button>
  </div>
</header>

<!-- Modale per il form di login -->
<div *ngIf="showLogin" id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="toggleLogin()">&times;</span>
    <!-- Manteniamo il componente di login -->
    <div class="login-container">
      <app-login></app-login>
    </div>
  </div>
</div>
  
