<!-- Form Container -->
<div class="form-container">
  <div>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <!-- Hidden Fields -->
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="ownerid">

        <!-- Form Fields -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="description" class="form-label">Descrizione</label>
            <input type="text" id="description" formControlName="description" class="form-control"
              placeholder="Descrizione">
            <div *ngIf="activityForm.get('description')?.invalid && activityForm.get('desciption')?.touched"
              class="text-danger">
              Descrizione obbligatoria.
            </div>
          </div>
          <div class="col-md-6">
            <label for="owner" class="form-label">Proprietario</label>
            <app-cb-user [selectedUser]="currentOwner" (selectedItemChange)="onOwnerSelected($event)">
            </app-cb-user>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="dtstart" class="form-label">Data Inizio</label>
            <input type="date" id="dtstart" formControlName="dtstart" class="form-control">
            <div *ngIf="activityForm.get('dtstart')?.invalid && activityForm.get('dtstart')?.touched"
              class="text-danger">
              Data Inizio obbligatoria.
            </div>
          </div>
          <div class="col-md-6">
            <label for="dtend" class="form-label">Data Fine</label>
            <input type="date" id="dtend" formControlName="dtend" class="form-control">
          </div>
          <div class="d-flex align-items-center col-md-6">
            <div>
              <input type="checkbox" id="enable" formControlName="enable" class="form-check-input">
              <label for="enable" class="form-check-label ms-2">Abilita</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Buttons -->
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-2" (click)="resetForm(activityForm)">Pulisci</button>
      <button type="button" class="btn btn-danger me-2" (click)="openDeleteConfirmation()">Cancella</button>
      <button type="submit" class="btn btn-primary" [disabled]="activityForm.invalid">Salva</button>
    </div>
  </div>


  <div id="save-confirmation" class="dialog-overlay" *ngIf="showSaveDialog">
    <div class="dialog-content text-center">
      <p class="mb-4">Vuoi salvare i cambiamenti?</p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-success me-2" (click)="confirmSave()">Si</button>
        <button class="btn btn-secondary" (click)="cancelSave()">No</button>
      </div>
    </div>
  </div>

  <div id="delete-confirmation" class="dialog-overlay" *ngIf="showDeleteDialog">
    <div class="dialog-content text-center">
      <p class="mb-4">Vuoi eliminare questo dipendente?</p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-danger me-2" (click)="confirmDelete()">Si</button>
        <button class="btn btn-secondary" (click)="cancelDelete()">No</button>
      </div>
    </div>
  </div>