<div class="home-container">

    <h2 class="aluno-nome">Irina</h2>
    
    <div class="menu-opcoes">
     
      <button class="menu-item" (click)="openActivityModal()">Crea Attività</button>
      <button class="menu-item" (click)="openActivityModal()">TimeSheet</button>
    </div>

  <h2 class="alunno-nome">Giuseppina</h2>

  <div class="menu-opcoes">
    <!-- Bottone per aprire il modal -->
    <button class="menu-item" (click)="openActivityModal()">Crea Attività</button>
    <a href="#" class="menu-item">TimeSheet</a>

  </div>
</div>

  