<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="nome">Nome</label>
        <input id="nome" formControlName="nome" />
    </div>
    <div>
        <label for="cognome">Cognome</label>
        <input id="cognome" formControlName="cognome" />
    </div>
    <div>
        <label for="dataNascita">Data di Nascita</label>
        <input id="dataNascita" type="date" formControlName="dataNascita" />
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" />
    </div>
    <div>
        <label for="attivo">Attivo</label>
        <input id="attivo" type="checkbox" formControlName="attivo" />
    </div>
    <button type="submit">Salva</button>
    <button type="button" (click)="onDelete()">Cancella</button>
</form>