<h2>Aggiungi Appuntamento</h2>
<form (ngSubmit)="onSubmit()">
  <label for="data">Data:</label>
  <input type="text" id="data" [(ngModel)]="appuntamento.data" name="data" required>

  <label for="clienteNome">Nome Cliente:</label>
  <input type="text" id="clienteNome" [(ngModel)]="appuntamento.clienteNome" name="clienteNome" required>

  <label for="vetturaModello">Modello Vettura:</label>
  <input type="text" id="vetturaModello" [(ngModel)]="appuntamento.vetturaModello" name="vetturaModello" required>

  <button type="submit">Aggiungi</button>
</form>

