<div class form-container>
  <form  [formGroup] = "appuntamentoForm" (ngSubmit) = "onSubmit()">
      <div>
        <input type="hidden" formControlName = "id" >      
        <input type="hidden" formControlName = "clientid" > 
        <input type="hidden" formControlName = "vetturaid" >      
      </div>
    
      <div class="mb-3">
        <label for="descrizione" class="form-label">Descrizione</label>
        <input type="text"  id ="descrizione" formControlName = "descrizione" class = "form-control" placeholder="Descrizione Appuntamento">
      </div>
      <div class="mb-3">
        <label for="dataOraInizio" class="form-label">Data Ora Inizio</label>
        <input type="text"  id ="dataOraInizio" formControlName = "dataOraInizio" class = "form-control" placeholder="Data Ora Inizio">
      </div>
      <div class="mb-3">
        <label for="dataOraFine" class="form-label">Data Ora Fine</label>
        <input type="text"  id ="dataOraFine" formControlName = "dataOraFine" class = "form-control" placeholder="Data Ora Fine">
      </div>
    
    <button type="submit" class="btn btn-success">Salva Appuntamento</button>
  </form>
</div>


