<!-- Form Container -->
<div class="form-container">
  <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
    <!-- Hidden Fields -->
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="ownerid">

    <!-- Form Fields -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="description" class="form-label">Descrizione</label>
        <input type="text" id="description" formControlName="description" class="form-control" placeholder="Descrizione">
        <div *ngIf="activityForm.get('description')?.invalid && activityForm.get('description')?.touched" class="text-danger">
          Descrizione obbligatoria.
        </div>
      </div>
      <div class="col-md-6">
        <label for="owner" class="form-label">Proprietario</label>
        <app-cb-user [selectedUser]="currentOwner" (selectedItemChange)="onOwnerSelected($event)"></app-cb-user>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="dtstart" class="form-label">Data Inizio</label>
        <input type="date" id="dtstart" formControlName="dtstart" class="form-control">
        <div *ngIf="activityForm.get('dtstart')?.invalid && activityForm.get('dtstart')?.touched" class="text-danger">
          Data Inizio obbligatoria.
        </div>
      </div>
      <div class="col-md-6">
        <label for="dtend" class="form-label">Data Fine</label>
        <input type="date" id="dtend" formControlName="dtend" class="form-control">
        <div *ngIf="activityForm.get('dtend')?.invalid && activityForm.get('dtend')?.touched" class="text-danger">
          Data Fine obbligatoria.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="location" class="form-label">Luogo</label>
        <input type="text" id="location" formControlName="location" class="form-control" placeholder="Luogo">
        <div *ngIf="activityForm.get('location')?.invalid && activityForm.get('location')?.touched" class="text-danger">
          Luogo obbligatorio.
        </div>
      </div>
      <div class="col-md-6">
        <label for="notes" class="form-label">Note</label>
        <textarea id="notes" formControlName="notes" class="form-control" placeholder="Note"></textarea>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="row mb-3">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary" [disabled]="activityForm.invalid">Salva</button>
      </div>
    </div>
  </form>
</div>


