<td>
  <input
    type="radio"
    name="Select"
    [value]="bp.id"
    [checked]="_selected"
    (change)="openChangeDialog($event)"
  />
</td>
<td>{{ bp.responsible }}</td>
<td>{{ bp.startYear }}</td>
<td>{{ bp.yearsPlanning }}</td>
<td>{{ bp.wacc }}</td>
<td>{{ bp.tir }}</td>
<td>{{ bp.conclusion }}</td>

<div id="logout-confirmation" class="dialog-overlay" *ngIf="showDialog">
  <div class="dialog-content text-center">
    <p class="mb-4">Do you want to change the Main BP of Company?</p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-danger me-2" (click)="confirmChange()">Yes</button>
      <button class="btn btn-secondary" (click)="cancelChange()">No</button>
    </div>
  </div>
</div>
