<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="isLogged()">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        BaseData
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="company">Company</a></li>
                        <li><a class="dropdown-item" routerLink="area">Area</a></li>
                        <li><a class="dropdown-item" routerLink="employee">Employee</a></li>
                        <li><a class="dropdown-item" href="#">Fixed Costs</a></li>
                        <li><a class="dropdown-item" href="#">Variable Costs</a></li>
                        <li><a class="dropdown-item" href="#">Products</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">...</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Prices</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Stock</a></li>
                        <li><a class="dropdown-item" href="#">Inventory</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Forecast</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        GRP
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">KPI List</a></li>
                        <li><a class="dropdown-item" href="#">KPI Data</a></li>
                        <li><a class="dropdown-item" href="#">KPI Config</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Risk List</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">PDCA</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Strategic Plan
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">New Plan</a></li>
                        <li><a class="dropdown-item" href="#">SWOT Analysis</a></li>
                        <li><a class="dropdown-item" href="#">Strengths of Porter</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Business Canvas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Business Plan
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="businessplan">New BP</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Income Budget</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Expenses List</a></li>
                        <li><a class="dropdown-item" href="#">Expenses Budget</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Cash Flow</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">EBITDA</a></li>
                    </ul>
                </li>
                <!-- Logout -->
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="openLogoutDialog($event)">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Logout Dialog -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="cancelLogout()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="confirmLogout()">Logout</button>
            </div>
        </div>
    </div>
</div>