.home-container {
  background-image: url('/assets/images/sfondohome.png'); /* Usa il percorso corretto */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Colore di sfondo di fallback */
}


  
  .alunno-nome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #FFA500; /* Colore arancio-giallo per il testo */
    text-shadow: 
        1px 1px 0 navy, /* Ombra in basso a destra */
        -1px -1px 0 navy, /* Ombra in alto a sinistra */
        -1px 1px 0 navy, /* Ombra in basso a sinistra */
        1px -1px 0 navy; /* Ombra in alto a destra */
    background-color: #d5e9fc; /* Colore di sfondo chiaro */
    border: ridge navy;
    border-radius: 5px;
    padding: 20px;
}
  
  .menu-opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-item {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: #d5e9fc; /* Colore di sfondo chiaro */
    color: navy;
    border: ridge navy;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu-item:hover {
    background-color: #007bff;
    color: black;
  }
  
  /* Stile per il modal (inizialmente nascosto) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 10px;
  }

  /* Stile per il bottone di chiusura */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Stile per i campi editabili nel modal */
  .modal input, .modal textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }