<div class="container mt-5">
  <!-- Verificação se todos os dados foram carregados -->
  <div *ngIf="!isLoading; else loadingTemplate">
    <!-- Exibe os dados das empresas após todos os dados serem carregados -->
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header">Empresas</div>
          <div class="card-body">
            <p>Total de Empresas: {{ companyData.data.length }}</p> <!-- Substitua com o acesso direto -->
            <ul class="list-group">
              <li *ngFor="let company of companyData.data" class="list-group-item">
                {{ company.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Template de Carregamento -->
  <ng-template #loadingTemplate>
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Carregando...</span>
      </div>
      <p>Carregando dados necessários para iniciar a aplicação...</p>
    </div>
  </ng-template>
</div>
