.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34568b;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-left {
    display: flex;
    align-items: center;
}

.app-header .logo {
    height: 50px;
    margin-right: 20px;
}

.header-left h1 {
    font-size: 1.8em;
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-body {
    padding: 20px;
}

