<header class="app-header">
    <div class="header-left">
        <img src="assets/logo.png" alt="Logo Officina" class="logo">
        <h1>{{ title }}</h1>
    </div>
    
    <div class="header-right">
        <div *ngIf="!isLoggedIn; else loggedInTemplate">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
                <input type="email" [(ngModel)]="loginEmail" name="email" placeholder="Email" required>
                <input type="password" [(ngModel)]="loginPassword" name="password" placeholder="Password" required>
                <button type="submit" class="btn btn-primary">Accedi</button>
            </form>
        </div>
        <ng-template #loggedInTemplate>
            <button type="button" class="logout-button" (click)="logout()">
                Logout
            </button>
        </ng-template>
    </div>
    <app-navbar></app-navbar>
</header>



