.crea-appuntamento {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 500px;
    margin: 20px auto; /* Aggiunto margine verticale per la spaziatura */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 0;
    border: none;
    background: none;
    color: #000;
    cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
}

h2 {
    text-align: center;
    margin-bottom: 20px; /* Spaziatura sotto il titolo */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Allinea il testo a sinistra */
}

.form-group input,
.form-group textarea {
    width: 100%; /* Fai in modo che occupino tutta la larghezza */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Assicura che il padding non influenzi la larghezza */
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}



