h1 {
    margin: 0 auto;
    text-align: center;
}

header {
    justify-content: space-between;
    /* Posiziona le icone ai due lati e il testo al centro */
    align-items: center;
    /* Allinea verticalmente il contenuto */
    padding: 20px;
    background-color: #d5e9fc;
    /* Colore di sfondo chiaro */
    border-radius: 5px;
    border: ridge navy;
    display: flex;
}

/* Stile per il titolo */
header h1 {
    text-shadow:
        1px 1px 0 navy,
        /* Ombra in basso a destra */
        -1px -1px 0 navy,
        /* Ombra in alto a sinistra */
        -1px 1px 0 navy,
        /* Ombra in basso a sinistra */
        1px -1px 0 navy;
    /* Ombra in alto a destra */
    font-size: 2.5rem;
    /* Dimensione del testo */
    font-weight: bold;
    /* Grassetto per maggiore impatto */
    color: #1e90ff;
    /* Colore blu */
    letter-spacing: 1px;
    /* Spaziatura tra le lettere per rendere il testo più leggibile */
    flex: 1;
    /* Spinge il titolo al centro */
    text-align: center;
    /* Allinea il testo al centro */
}

/* Stile per le icone */
.header-icon {
    width: 50px;
    /* Dimensione icona */
    height: auto;
    /* Mantieni le proporzioni */
}
  