html, body {
    margin: 0;              /* Rimuove margini di default */
    padding: 0;             /* Rimuove padding di default */
    height: 100%;           /* Assicura che l'altezza del body sia al 100% */
  }
  