<div class="table-responsive">
  <ng-container *ngIf="activityData$ | async as activityData">
    <div *ngIf="activityData.loading" class="alert alert-info">
      Caricamento delle attività in corso...
    </div>

    <div *ngIf="activityData.error" class="alert alert-danger">
      {{ activityData.error }}
    </div>

    <table *ngIf="!activityData.loading && activityData.activityList?.length" class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Seleziona</th>
          <th scope="col">Descrizione</th>
          <th scope="col">Proprietario</th>
          <th scope="col">Data Inizio</th>
          <th scope="col">Data Fine</th>
          <th scope="col">Azione</th> <!-- Nuova intestazione -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ac of activityData.activityList">
          <td>
            <label>
              <input type="radio" (change)="selectActivity(ac)" [checked]="selectedActivities.length === 1 && selectedActivities[0] === ac">
              Seleziona
            </label>
          </td>
          <td>{{ ac.description }}</td>
          <td>{{ ac.ownerName }}</td>
          <td>{{ ac.dtstart | date: 'short' }}</td>
          <td>{{ ac.dtend | date: 'short' }}</td>
          <td>
            <button (click)="openDetail(content)" class="btn btn-primary btn-sm">Modifica</button>
            <button (click)="deleteActivity(ac)" class="btn btn-danger btn-sm">Elimina</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!activityData.loading && !activityData.activityList?.length" class="alert alert-warning">
      Nessuna attività da caricare
    </div>
  </ng-container>
  
</div>
