<div class="table-responsive">
  <ng-container *ngIf="activityData$ | async as activityData">
    <div *ngIf="activityData.loading" class="alert alert-info">
      Caricamento delle attività in corso...
    </div>

    <div *ngIf="activityData.error" class="alert alert-danger">
      {{ activityData.error }}
    </div>

    <table *ngIf="!activityData.loading && activityData.activityList?.length" class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Seleziona</th>
          <th scope="col">Descrizione</th>
          <th scope="col">Proprietario</th>
          <th scope="col">Data Inizio</th>
          <th scope="col">Data Fine</th>
          <th scope="col">Attiva</th>
        </tr>
      </thead>
      <tbody>
        <tr
          app-activity-row
          *ngFor="let ac of activityData.activityList"
          [activity-data]="ac"
          [activity-selected]="selectedActivity"
          (onSelectActivity)="selectActivity($event)"
        ></tr>
      </tbody>
    </table>

    <div *ngIf="!activityData.loading && !activityData.activityList?.length" class="alert alert-warning">
      Nessuna attività da caricare
    </div>
  </ng-container>
</div>