<nav class="navbar">
  <div class="navbar-nav left">
    <div class="nav-item">
      <button class="btn btn-secondary btn-secondary:active" (click)="createIngredient()">Nuovo Ingrediente</button>
    </div>
    <div class="nav-item">
      <button class="btn btn-secondary btn-secondary:active" (click)="createRecipe()">Nuova Ricetta</button>
    </div>
    <div class="nav-item">
      <!-- Pulsante per creare un nuovo conoscente -->
      <button class="btn btn-secondary btn-secondary:active" (click)="toggleForm()">Nuovo Conoscente</button>
    
      <!-- Contenitore del form, visibile solo quando showForm è true -->
  <div *ngIf="showForm" class="form-container">
    <form (ngSubmit)="createContact(nomeInput.value, cognomeInput.value, emailInput.value)">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" #nomeInput required />
      </div>

      <div class="form-group">
        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" #cognomeInput required />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" #emailInput required />
      </div>
      <button type="submit" class="btn btn-secondary">Crea Contatto</button>
      <button type="button" class="btn btn-secondary" (click)="toggleForm()">Annulla</button>
    </form>
  </div>
    </div>
    
    
      <!-- Elenco dei contatti creati -->
      <ul>
        <li *ngFor="let contact of contacts">
          {{ contact.nome }} {{ contact.cognome }} - {{ contact.email }}
        </li>
      </ul>
    </div>


  <!-- Spingere il pulsante "Accedi" a destra -->
  <div class="navbar-nav right">
    <div class="nav-item">
      <button class="btn btn-secondary btn-secondary:active" (click)="toggleLogin()">Accedi</button>
    </div>
  </div>
</nav>

<!-- Condizione per mostrare il form di login -->
<div *ngIf="showLogin" class="login-container">
  <app-login></app-login>
</div>


