<nav class="navbar">
  <div class="navbar-nav left">
    <!-- Pulsante per creare un nuovo ingrediente -->
    <div class="nav-item">
      <button class="btn btn-secondary" (click)="toggleIngredientForm()">Nuovo Ingrediente</button>
    </div>

    <!-- Pulsante per creare una nuova ricetta -->
    <div class="nav-item">
      <button class="btn btn-secondary" (click)="toggleRecipeForm()">Nuova Ricetta</button>
    </div>

    <!-- Pulsante per creare un nuovo conoscente -->
    <div class="nav-item">
      <button class="btn btn-secondary" (click)="toggleForm()">Nuovo Conoscente</button>
    </div>

       <!-- Pulsante per creare una tabella con l'elenco di tutte le ricette visualizzabili -->
       <div class="nav-item">
        <button class="btn btn-secondary" (click)="toggleElencoRicette()">Elenco di tutte le Ricette</button>
      </div>

      <!-- Modale per visualizzare l'elenco delle ricette -->
<div *ngIf="showAllRecipes" id="recipeListModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="toggleElencoRicette()">&times;</span>
    <h2>Elenco di tutte le Ricette</h2>

    <!-- Tabella delle ricette -->
    <table class="ricette-table">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Nome</th>
          <th>Procedimento</th>
          <th>Tempo di Esecuzione</th>
          <th>Tempo di Cottura</th>
          <th>Seleziona</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ricetta of ricette">
          <td>{{ ricetta.categoria }}</td>
          <td>{{ ricetta.nome }}</td>
          <td>{{ ricetta.procedimento }}</td>
          <td>{{ ricetta.tempodiEsecuzione }}</td>
          <td>{{ ricetta.tempodiCottura }}</td>
          <td>
            <button (click)="showRecipes(ricetta)">Visualizza</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>

   

  <!-- Barra di ricerca -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Cerca ricette..." />
    <button (click)="onSearch()">Cerca</button>
    <!-- Messaggio di ricerca non abilitata -->
    <div *ngIf="showSearchMessage" style="margin-top: 5px; text-align: center; color: rgb(254, 253, 253);">
      Nessuna ricetta trovata
    </div>
  </div>



<!-- Modale per creare un nuovo ingrediente -->
<div *ngIf="showIngredientForm" id="ingredientModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="toggleIngredientForm()">&times;</span>
    <h2>Nuovo Ingrediente</h2>
    <!-- Form per creare un nuovo ingrediente -->
    <form (ngSubmit)="createIngredient(nomeIngredienteInput.value, unitaDiMisuraInput.value)">
      <div class="form-group">
        <label for="nomeIngrediente">Nome Ingrediente</label>
        <input type="text" id="nomeIngrediente" #nomeIngredienteInput required />
      </div>
      <div class="form-group">
        <label for="unita">Unità di Misura</label>
        <input type="text" id="unita" #unitaDiMisuraInput required />
      </div>
      <button type="submit" class="btn btn-secondary">Crea Ingrediente</button>
      <button type="button" class="btn btn-secondary" (click)="toggleIngredientForm()">Annulla</button>
    </form>
  </div>
</div>

<!-- Modale per creare una nuova ricetta -->
<div *ngIf="showRecipeForm" id="recipeModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="toggleRecipeForm()">&times;</span>
    <h2>Nuova Ricetta</h2>
    <!-- Form per creare una nuova ricetta -->
    <form (ngSubmit)="createRecipe(categoriaRicettaInput.value, nomeRicettaInput.value, difficoltaInput.value, procedimentoInput.value, tempoEsecuzioneInput.value, tempoCotturaInput.value, immagini)">
      <div class="form-group">
        <label for="categoria">Categoria:</label>
        <select id="categoria" #categoriaRicettaInput required>
          <option value="Lievitati">Lievitati</option>
          <option value="Primi">Primi</option>
          <option value="Secondi">Secondi</option>
          <option value="Contorni">Contorni</option>
          <option value="Dolci">Dolci</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nomeRicetta">Nome della Ricetta</label>
        <input type="text" id="nomeRicetta" #nomeRicettaInput required />
      </div>
      <div class="form-group">
        <label for="difficolta">Difficoltà</label>
        <select id="difficolta" #difficoltaInput required>
          <option value="Facile">Facile</option>
          <option value="Media">Media</option>
          <option value="Difficile">Difficile</option>
        </select>
      </div>
      <div class="form-group">
        <label for="procedimento">Procedimento</label>
        <textarea id="procedimento" #procedimentoInput required></textarea>
      </div>
      <div class="form-group">
        <label for="tempoEsecuzione">Tempo di Esecuzione (in minuti)</label>
        <input type="number" id="tempoEsecuzione" #tempoEsecuzioneInput required />
      </div>
      <div class="form-group">
        <label for="tempoCottura">Tempo di Cottura (in minuti)</label>
        <input type="number" id="tempoCottura" #tempoCotturaInput required />
      </div>
      <!-- Campo per il caricamento delle immagini -->
      <div class="form-group">
        <label for="immagini">Seleziona fino a 3 immagini:</label>
        <input type="file" id="immagini" (change)="onFileSelected($event)" multiple accept="image/*" />
      </div>
      <!-- Anteprima delle immagini selezionate -->
      <div *ngIf="immagini.length > 0">
        <h4>Anteprima immagini:</h4>
        <div *ngFor="let img of immagini">
          <img [src]="img" alt="Anteprima immagine" width="100" />
        </div>
      </div>
      <button type="submit" class="btn btn-secondary">Crea Ricetta</button>
      <button type="button" class="btn btn-secondary" (click)="toggleRecipeForm()">Annulla</button>
    </form>
  </div>
</div>

<!-- Modale per creare un nuovo conoscente -->
<div *ngIf="showForm" id="contactModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="toggleForm()">&times;</span>
    <h2>Nuovo Conoscente</h2>
    <!-- Form per creare un nuovo conoscente -->
    <form (ngSubmit)="createContact(nomeInput.value, cognomeInput.value, emailInput.value)">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" #nomeInput required />
      </div>
      <div class="form-group">
        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" #cognomeInput required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" #emailInput required />
      </div>
      <button type="submit" class="btn btn-secondary">Crea Conoscente</button>
      <button type="button" class="btn btn-secondary" (click)="toggleForm()">Annulla</button>
    </form>
  </div>
</div>