<nav class="navbar">
  <div class="navbar-nav left">
    <!-- Pulsante per creare un nuovo ingrediente -->
    <div class="nav-item">
      <button class="btn btn-secondary" (click)="toggleIngredientForm()">Nuovo Ingrediente</button>
    </div>

    <!-- Pulsante per creare una nuova ricetta -->
    <div class="nav-item">
      <button class="btn btn-secondary" (click)="toggleRecipeForm()">Nuova Ricetta</button>
    </div>

    <!-- Pulsante per creare un nuovo conoscente -->
    <div class="nav-item">
      <button class="btn btn-secondary" (click)="toggleForm()">Nuovo Conoscente</button>
    </div>
  </div>

  <!-- Spingere il pulsante "Accedi" a destra -->
  <div class="navbar-nav right">
    <div class="nav-item">
      <button class="btn btn-secondary" (click)="toggleLogin()">Accedi</button>
    </div>
  </div>
</nav>

<!-- Condizione per mostrare il form di login -->
<div *ngIf="showLogin" class="login-container">
  <app-login></app-login>
</div>

<!-- Contenitore dei form, che compaiono tra la navbar e il footer -->
<div class="content">
  <!-- Form di creazione ingrediente -->
  <div *ngIf="showIngredientForm" class="form-container">
    <form (ngSubmit)="createIngredient(nomeIngredienteInput.value, unitaDiMisuraInput.value)">
      <div class="form-group">
        <label for="nomeIngrediente">Nome Ingrediente</label>
        <input type="text" id="nomeIngrediente" #nomeIngredienteInput required />
      </div>
      <div class="form-group">
        <label for="unita">Unità di Misura</label>
        <input type="text" id="unita" #unitaDiMisuraInput required />
      </div>
      <button type="submit" class="btn btn-secondary">Crea Ingrediente</button>
      <button type="button" class="btn btn-secondary" (click)="toggleIngredientForm()">Annulla</button>
    </form>
  </div>

  <!-- Form di creazione ricetta -->
  <div *ngIf="showRecipeForm" class="form-container">
    <form (ngSubmit)="createRecipe(nomeRicettaInput.value, difficoltaInput.value, procedimentoInput.value, tempoEsecuzioneInput.value, tempoCotturaInput.value)">
      <div class="form-group">
        <label for="nomeRicetta">Nome della Ricetta</label>
        <input type="text" id="nomeRicetta" #nomeRicettaInput required />
      </div>
      <div class="form-group">
        <label for="difficolta">Difficoltà</label>
        <input type="text" id="difficolta" #difficoltaInput required />
      </div>
      <div class="form-group">
        <label for="procedimento">Procedimento</label>
        <textarea id="procedimento" #procedimentoInput required></textarea>
      </div>
      <div class="form-group">
        <label for="tempoEsecuzione">Tempo di Esecuzione (in minuti)</label>
        <input type="number" id="tempoEsecuzione" #tempoEsecuzioneInput required />
      </div>
      <div class="form-group">
        <label for="tempoCottura">Tempo di Cottura (in minuti)</label>
        <input type="number" id="tempoCottura" #tempoCotturaInput required />
      </div>
      <button type="submit" class="btn btn-secondary">Crea Ricetta</button>
      <button type="button" class="btn btn-secondary" (click)="toggleRecipeForm()">Annulla</button>
    </form>
  </div>

  <!-- Form di creazione conoscente -->
  <div *ngIf="showForm" class="form-container">
    <form (ngSubmit)="createContact(nomeInput.value, cognomeInput.value, emailInput.value)">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" #nomeInput required />
      </div>
      <div class="form-group">
        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" #cognomeInput required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" #emailInput required />
      </div>
      <button type="submit" class="btn btn-secondary">Crea Contatto</button>
      <button type="button" class="btn btn-secondary" (click)="toggleForm()">Annulla</button>
    </form>
  </div>

  <!-- Elenco degli ingredienti -->
  <ul>
    <li *ngFor="let ingrediente of ingredienti">
      {{ ingrediente.nome }} - {{ ingrediente.unitaDiMisura }}
    </li>
  </ul>

  <!-- Elenco delle ricette -->
  <ul>
    <li *ngFor="let ricetta of ricette">
      {{ ricetta.nome }} - Difficoltà: {{ ricetta.difficolta }} - Tempo di Esecuzione: {{ ricetta.tempodiEsecuzione }} min - Tempo di Cottura: {{ ricetta.tempodiCottura }} min
    </li>
  </ul>

  <!-- Elenco dei contatti -->
  <ul>
    <li *ngFor="let contact of contacts">
      {{ contact.nome }} {{ contact.cognome }} - {{ contact.email }}
    </li>
  </ul>
</div>