<div class="table-responsive">
    <ng-container *ngIf="employeeData$ | async as employeeData">
      
      <!-- Exibe uma mensagem de carregamento enquanto a lista está sendo carregada -->
      <div *ngIf="employeeData.loading" class="alert alert-info">
        Carregando employee...
      </div>
  
      <!-- Exibe uma mensagem de erro caso ocorra -->
      <div *ngIf="employeeData.error" class="alert alert-danger">
        {{ employeeData.error }}
      </div>
  
      <!-- Exibe a tabela apenas se houver dados na lista -->
      <table *ngIf="!employeeData.loading && employeeData.employeeList?.length" class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Select</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Area</th>
            <th scope="col">Salary</th>
            <th scope="col">StartedAt</th>
            <th scope="col">EndedAt</th>
            <th scope="col">User</th>
            <th scope="col">Manager</th>
          </tr>
        </thead>
        <tbody>
          <tr
            app-employee-list-row
            *ngFor="let ep of employeeData.employeeList"
            [ep-data]="ep"
            [ep-selected]="selectedEmployee"
            (onSelectEmployee)="selectEmployee($event)"
          ></tr>
        </tbody>
      </table>
  
      <!-- Exibe uma mensagem se não houver Business Plans após o carregamento -->
      <div *ngIf="!employeeData.loading && !employeeData.employeeList?.length" class="alert alert-warning">
        Nenhum employee encontrado.
      </div>
    </ng-container>
  </div>
  