<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Agenda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Appuntamenti
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/appuntamenti">Gestisci Appuntamenti</a></li>
            <li><a class="dropdown-item" href="/nuovo-appuntamento">Crea Appuntamento</a></li>  
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clienti
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/clienti">Gestisci Clienti</a></li>
            
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/vetture">Vetture</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/statistiche">Statistiche</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/reports">Reports</a>
        </li>

        <!--li class="nav-item">
          <a class="nav-link" href="/login">Login</a>  <!-- Link alla pagina di login >
        </li-->

        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link" href="#" (click)="openLogoutDialog($event)">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Modale di conferma per il logout -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true" *ngIf="showDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Conferma Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelLogout()"></button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler effettuare il logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelLogout()">Annulla</button>
        <button type="button" class="btn btn-danger" (click)="confirmLogout()">Logout</button>
      </div>
    </div>
  </div>
</div>







    