.login-container {
  background-image: url('/assets/logotm.png'); /* Percorso assoluto */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* Colore di sfondo semi-trasparente */
  background-color: rgba(240, 240, 240, 0.7); /* Opacità 0.7 (70%) */
  
  color: #333; /* Colore del testo (puoi cambiarlo in base alle tue preferenze) */
}

h2 {
  text-align: center;
  color: #333; /* Colore del titolo (puoi modificarlo) */
}

.form-group label {
  color: #333; /* Colore delle etichette */
}
