<div class="login-container">
    <form [formGroup]="loginForm"(ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="usr">User</label>
        <input
          id="usr"
          formControlName="usr"
          placeholder="User"
          class="form-control"
        />
        <div *ngIf="loginForm.get('usr')?.invalid && loginForm.get('usr')?.touched" class="error-message">
          Username is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="pwd">Password</label>
        <input
          type="password"
          id="pwd"
          formControlName="pwd"
          placeholder="Password"
          class="form-control"
        />
        <div *ngIf="loginForm.get('pwd')?.invalid && loginForm.get('pwd')?.touched" class="error-message">
          Password is required
        </div>
      </div>
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-success me-2"  (click)="openRegistrazione()">Registrazione</button>
    </form>
    
<div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
  