<ng-template #loginModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">Login</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="login-container">
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" placeholder="Email" class="form-control" />
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
                        <div *ngIf="loginForm.get('email')?.errors?.['required']">Email è richiesta</div>
                        <div *ngIf="loginForm.get('email')?.errors?.['email']">Formato email non valido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" placeholder="Password" class="form-control" />
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
                        Password è richiesta
                    </div>
                </div>

                <button type="submit" [disabled]="!loginForm.valid || isLoading" class="btn btn-primary">
                    <fa-icon [icon]="icon"></fa-icon> Login
                </button>
                <button type="button" (click)="modal.dismiss('Close button click')" class="btn btn-secondary">Close</button>
                <!-- Bottone per chiudere il form -->
            </form>

            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</ng-template>

