<!-- footer.component.html -->
<footer class="app-footer">
  <h1 class="footer-title">{{ title }}</h1>
  <div class="footer-container">
    <!-- Pulsante per visualizzare le ricette Lievitati -->
    <div class="footer-item">
      <img src="assets/images/RIC_Lievitati.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Lievitati')">Lievitati</button>
    </div>

    <!-- Tabella per mostrare le ricette della categoria selezionata -->
    <div *ngIf="selectedCategoryRecipes.length > 0">
      <h2>Ricette nella categoria: {{ selectedCategory }}</h2>
      <table border="1">
        <thead>
          <tr>
            <th>Nome Ricetta</th>
            <th>Difficoltà</th>
            <th>Tempo di Esecuzione (min)</th>
            <th>Tempo di Cottura (min)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ricetta of selectedCategoryRecipes">
            <td>{{ ricetta.nome }}</td>
            <td>{{ ricetta.difficolta }}</td>
            <td>{{ ricetta.tempodiEsecuzione }}</td>
            <td>{{ ricetta.tempodiCottura }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Altri pulsanti per le altre categorie -->
    <div class="footer-item">
      <img src="assets/images/RIC_Primi.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Primi')">Primi</button>
    </div>
    <div class="footer-item">
      <img src="assets/images/RIC_Secondi.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Secondi')">Secondi</button>
    </div>
    <div class="footer-item">
      <img src="assets/images/RIC_Contorni.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Contorni')">Contorni</button>
    </div>
    <div class="footer-item">
      <img src="assets/images/RIC_Dolci.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Dolci')">Dolci</button>
    </div>
  </div>
      <!-- Messaggio per nessuna ricetta trovata -->
      <div *ngIf="selectedCategoryRecipes.length === 0 && selectedCategory">
        <p>Nessuna ricetta trovata nella categoria: {{ selectedCategory }}</p>
      </div>
</footer>