<!-- footer.component.html -->
<footer class="app-footer">
  <h1 class="footer-title">{{ title }}</h1>
  <div class="footer-container">
    <!-- Pulsante per visualizzare le ricette Lievitati -->
    <div class="footer-item">
      <img src="assets/images/Lievitati.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Lievitati')">Lievitati</button>
    </div>
    <!-- Altri pulsanti per le altre categorie -->
    <div class="footer-item">
      <img src="assets/images/Primi.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Primi')">Primi</button>
    </div>
    <div class="footer-item">
      <img src="assets/images/Secondi.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Secondi')">Secondi</button>
    </div>
    <div class="footer-item">
      <img src="assets/images/Contorni.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Contorni')">Contorni</button>
    </div>
    <div class="footer-item">
      <img src="assets/images/Dolci.png" alt="Logo" class="logo" />
      <button class="btn btn-secondary" (click)="showRecipesByCategory('Dolci')">Dolci</button>
    </div>
  </div>
      <!-- Messaggio per nessuna ricetta trovata -->
      <div *ngIf="selectedCategoryRecipes.length === 0 && selectedCategory">
        <p>Nessuna ricetta trovata nella categoria: {{ selectedCategory }}</p>
      </div>
</footer>