<!-- footer.component.html -->
<footer class="app-footer">
    <h1 class="footer-title">{{ title }}</h1>
    <div class="footer-container">
      <div class="footer-item">
        <img src="assets/images/RIC_Lievitati.png" alt="Logo" class="logo" />
        <button class="btn btn-secondary btn-secondary:active">Lievitati</button>
      </div>
      <div class="footer-item">
        <img src="assets/images/RIC_Primi.png" alt="Logo" class="logo" />
        <button class="btn btn-secondary btn-secondary:active">Primi</button>
      </div>
      <div class="footer-item">
        <img src="assets/images/RIC_Secondi.png" alt="Logo" class="logo" />
        <button class="btn btn-secondary btn-secondary:active">Secondi</button>
      </div>
      <div class="footer-item">
        <img src="assets/images/RIC_Contorni.png" alt="Logo" class="logo" />
        <button class="btn btn-secondary btn-secondary:active">Contorni</button>
      </div>
      <div class="footer-item">
        <img src="assets/images/RIC_Dolci.png" alt="Logo" class="logo" />
        <button class="btn btn-secondary btn-secondary:active">Dolci</button>
      </div>
    </div>
  </footer>
  
