.app-footer {
    background: linear-gradient(to right, #d1a797, #ff6a6a); /* Sfumature color salmone */
    color: white; /* Colore del testo */
    text-align: center; /* Allinea il testo al centro */
    padding: 80px; /* Spaziatura interna */
    border: 5px solid rgb(118, 64, 64); /* Cornice di 5 pixel */
    border-radius: 10px; /* Angoli arrotondati della cornice */
}

.footer-container {
    display: flex;                      /* Utilizza il layout flexbox */
    flex-direction: row;               /* Dispone gli elementi in riga */
    align-items: center;               /* Centra gli elementi verticalmente */
    justify-content: center;           /* Allinea gli elementi orizzontalmente al centro */
    height: auto;                      /* Adatta l'altezza al contenuto */
    gap: 20px;                         /* Spazio tra i loghi, aumenta se necessario */
}

.logo {
    width: 195px;                      /* Imposta una larghezza maggiore per i loghi */
    height: auto;                     /* Mantiene le proporzioni del logo */
    margin: 0;                         /* Rimuove eventuali margini */
}

.footer-title {
    font-family: 'Pacifico', cursive;
    font-size: 60px; /* Regola la dimensione del font */
    font-weight: 400; /* Pacifico è già piuttosto decorativo, quindi il peso 400 va bene */
    color: #333; /* Cambia il colore del testo se necessario */
}

.btn {
    padding: 8px 16px; /* Padding del bottone */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-secondary {
    font-family: 'Pacifico', cursive;
    background-color: #ff6a6a;
    color: black;
    border: 2px solid rgb(118, 64, 64);
  }
/* Stile per i bottoni quando sono cliccati */
.btn-secondary:active {
    background-color: #5a6268; /* Colore più scuro per feedback visivo */
    transform: scale(0.98); /* Effetto di riduzione per il clic */
  }

    