<div class="home-container">
    <h1>Benvenuto nell'App Gestione Appuntamenti</h1>
    <p>Gestisci i tuoi appuntamenti con facilità.</p>

    <div class="statistics">
        <h2>Statistiche Appuntamenti</h2>
        <p>Appuntamenti di oggi: {{ appuntamentiOggi }}</p>
        <p>Appuntamenti totali: {{ appuntamentiTotali }}</p>
    </div>

    <div class="actions">
        <button routerLink="/appuntamenti">Visualizza Appuntamenti</button>
        <button routerLink="/nuovo-appuntamento">Crea Nuovo Appuntamento</button>
    </div>
</div>