.app-header {
  height: 250px; /* Imposta l'altezza desiderata dell'header */
  background: linear-gradient(to right, #d1a797, #ff6a6a); /* Sfumature color salmone */
  border: 5px solid rgb(118, 64, 64); /* Cornice colorata */
  border-radius: 10px; /* Angoli arrotondati */
  display: flex; /* Flexbox per centrare il contenuto */
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: center; /* Centra il contenuto verticalmente */
  padding: 10px;
}

.header-container {
  display: flex; /* Flexbox per gestire il logo e il titolo */
  justify-content: center; /* Centra orizzontalmente il logo e il titolo */
  align-items: center; /* Centra verticalmente il logo e il titolo */
}

.header-image {
  height: 250px; /* Aumenta l'altezza del logo per ingrandirlo */
  width: auto; /* Mantiene le proporzioni dell'immagine */
  margin-right: 20px; /* Spazio tra il logo e il titolo */
}

.header-title {
  font-style: oblique;
  font-family: 'Dancing Script', cursive;
  font-size: 60px; /* Dimensione del font */
  font-weight: normal; /* Peso del font */
  margin: 0; /* Rimuove i margini per il titolo */
}
