.app-header {
  background-image: url('/assets/images/BGHeader.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  border: 5px ridge #764c4c;
  border-radius: 10px;
  padding: 0;
  position: relative;
  z-index: 1;
}

.tile-container {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  font-size: 5vw;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.3); /* Sfondo bianco semi-trasparente */
  padding: 10px 20px;
  border-radius: 10px; /* Arrotonda i bordi per un effetto morbido */
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Aggiungi un'ombra al testo */
  -webkit-text-stroke: 1px black;
}
/* Pulsante "Login" posizionato in alto a destra */
.login-button-container {
  position: absolute;
  top: 10px;   /* Posiziona il pulsante a 10px dal bordo superiore */
  right: 20px; /* Posiziona il pulsante a 20px dal bordo destro */
}

.login-btn {
  font-family: 'Dancing Script', cursive;
  background-color: rgba(255, 255, 255, 0.3); /* Sfondo bianco semi-trasparente */
  color: black;
  border: 2px solid rgb(118, 64, 64);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-text-stroke: 0.5px black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.login-btn:active {
  background-color: #5a6268;
  transform: scale(0.98);
}

/* Stile del modale */
.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  /* Sfondo semi-trasparente */
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: auto;
}

.modal-content {
  background-color: #d1a797;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: auto;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
}

.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Media Queries per schermi medi (tablet) */
@media (max-width: 768px) {
  .app-header {
    height: 250px; /* Riduce l'altezza dell'header sui tablet */
  }

  .tile-container {
    font-size: 6vw; /* Aumenta leggermente la dimensione del testo per adattarsi meglio */
    padding: 8px 15px; /* Riduce il padding */
  }
}

/* Media Queries per schermi piccoli (smartphone) */
@media (max-width: 480px) {
  .app-header {
    height: 200px; /* Riduce ulteriormente l'altezza dell'header sugli smartphone */
  }

  .tile-container {
    font-size: 8vw; /* Aumenta la dimensione del testo per rimanere visibile su schermi piccoli */
    padding: 6px 10px; /* Riduce ancora di più il padding */
    white-space: normal; /* Permette al testo di andare a capo su schermi molto piccoli */
  }
}