/* Stili per il wrapper dell'header */
.header-wrapper {
  display: flex; /* Utilizza Flexbox per il layout */
  flex-direction: row; /* Disporre gli header in una riga (orizzontale) */
  justify-content: space-between; /* Spaziatura tra gli header */
  align-items: center; /* Allinea verticalmente gli header al centro */
  margin-bottom: 20px; /* Spazio sotto il wrapper dell'header */
}

/* Stili per il singolo header */
.app-header {
  background: linear-gradient(to right, #d1a797, #ff6a6a); /* Sfumature color salmone */
  color: #080000; /* Colore del testo */
  padding: 20px; /* Padding interno */
  text-align: center; /* Allineamento al centro */
  border: 5px solid rgb(118, 64, 64); /* Cornice colorata */
  border-radius: 10px; /* Angoli arrotondati della cornice */
  box-sizing: border-box; /* Include padding e bordi nella larghezza totale */
  /* Impostare larghezza e altezza per gli header se necessario */
  flex: 1; /* Ogni header occupa una porzione dello spazio disponibile */
}

/* Stili specifici per header-one */
.header-one {
  margin-right: 10px; /* Spazio a destra per separare da header-two */
}

/* Stili specifici per header-two */
.header-title{
  font-style: oblique;
  font-family: 'Dancing Script', cursive;
  font-size: 60px; /* Dimensione del font */
  font-weight: 10px; /* Peso del font */
  /* Aggiungere padding se necessario per allineare meglio il contenuto */
  padding: 10px;
}


