<div class="layout-container">
  <!-- Intestazione con due header -->
  <div>
    <app-header [titolo]="title" (ritorno)="openChangeDialog($event)"></app-header>
    <app-header class="header-title" [titolo]="titletwo" [hideLogo]="true"></app-header>
  </div>

  <!-- Barra di navigazione -->
  <app-navbar></app-navbar>

  <!-- Contenuto principale della tua applicazione -->
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>


